@media screen and (max-width: 300px) {
  .principal-banner a {
    margin-left: 20px;
  }

  .btn-container a {
    text-decoration: none;
  }

  .btn {
    display: flex;
    justify-content: center;
    width: 250px;
    font-size: 0.8em;
  }

  .hero {
    width: 280px;
    left: -5px;
  }

  .shadow {
    width: 250px;
    left: -5px;
  }

  .btn-text-div{
    display: flex;
    justify-content: center;
  }

  .text-div {
    width: 100%;
    padding: 20px;
  }

  .text h2 {
    font-size: 0.8em;
    font-weight: bolder;
    padding-right: 15px;
    margin-left: 2px;
  }

  .text p {
    font-size: 0.8em;
    font-weight: lighter;
  }

  .btn-container {
    margin-top: 0;
    margin-left: 2px;
  }

  .text {
    width: 250px;
  }

  #firstname {
    font-weight: bold;
    margin-right: 90px;
  }

  .text .name-input {
    margin-top: 30px;
    margin-right: 20px;
    width: 15px;
  }

  .banner-div .shadow {
    margin-left: 20px;
  }
 
  #send{
    margin-top: 40px;
  }

  /* RESPONSIVIDADE DA QUARTA PÁGINA */

  #name-output {
    font-size: 0.8em;
    margin-top: 30px;
    margin-left: 20px;
    padding-left: 0;
  }

  .icon {
    position: relative;
    top: -38px;
  }

  .search-bar {
    margin-top: 30px;
    margin-left: 20px;
    font-size: 0.6em;
  }

  .nav-filter {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    padding: 0;
    width: 50px;
    height: 32px;
  }
  .btn-filter {
    flex: none;
    order: 0;
    flex-grow: 0;
    max-width: 80px;
    margin-left: 10px;
  }

  .product-text-div .text {
    margin-left: 20px;
    margin-top: 50px;
    font-weight: lighter;
  }

  .product-container {
    display: flex;
    width: 280px;
    flex-flow: row nowrap;
  }

  .pro {
    margin-left: 0;
  }

  .product-text-div {
    width: 280px;
    display: flex;
    padding: 0;
  }

  .product-text-div .text-filter {
    margin-left: 0;
    padding: 4px;
  }

  .text-filter {
    font-weight: lighter;
  }

  .text-filter:hover:first-child {
    opacity: 1;
  }
  .text-filter:hover:nth-child(2) {
    opacity: 1;
  }
  .text-filter:hover:nth-child(3) {
    opacity: 1;
  }

  .pro-des-name h2 {
    font-size: 24px;
    margin-right: 40px;
  }
  .pro-des {
    padding-left: 10px;
  }

  .pro-des-detail .btn {
    width: 100px;
    margin-right: 5px;
  }

  .heart {
    margin-top: 20px;
  }

  .sort {
    display: block;
    position: relative;
    top: 38px;
    left: 20px;
    visibility: visible;
  }
}

@media screen and (min-width: 360px) {
  .text{
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .text h2{
    margin-top: 50px;
    font-size: 1.4em;
  }

  .text p{
    font-weight: bold;
  }

  #firstname{
    margin-top: 50px;
  }
  
  .btn{
    margin-bottom: 40px;
  }

  .name-input {
    margin-top: 20px;
    width: 100px;
  }

  #name-output {
    font-size: 1.3em;
    margin-top: 30px;
    margin-left: 30px;
    padding-left: 0;
  }

  .icon {
    position: relative;
    top: -45px;
  }

  .search-bar {
    margin-top: 50px;
    font-size: 0.6em;
  }

  .nav-filter {
    flex-flow: column wrap;
    width: 20px;
    height: 32px;
    margin-left: -5px;
  }
  .btn-filter {
    margin-left: 10px;
    padding: 0;
  }

  .product-text-div .text {
    margin-left: 20px;
    margin-top: 50px;
    font-weight: lighter;
  }

  .product-container {
    display: flex;
    width: 280px;
    flex-flow: row nowrap;
    margin-left:50px;
  }

  .pro {
    margin-left: 0;
  }

  .product-text-div {
    display: flex;
    padding: 0;
  }

  .product-text-div .text-filter {
    margin-left: 20px;
    padding: 4px;
  }


  .text-filter {
    font-weight: lighter;
  }

  .text-filter:hover:first-child {
    opacity: 1;
  }
  .text-filter:hover:nth-child(2) {
    opacity: 1;
  }
  .text-filter:hover:nth-child(3) {
    opacity: 1;
  }

  .pro-des{
    margin-top: 20px;
    margin-left: 20px;
  }

  .ingredients{
    display: flex;
    flex-flow: row wrap;
    text-align: center;
  }

  .ingredients p{
    margin-top: 15px;
    padding: 5px;
  }

  .heart{
    visibility: hidden;
  }

  .pro-des .btn{ 
    float: none;
  }
}

@media screen and (min-width: 375px) {

  .text{
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .text h2{
    margin-top: 50px;
    font-size: 1.4em;
  }

  .text p{
    font-weight: bold;
  }

  #firstname{
    margin-top: 50px;
  }
  
  .btn{
    margin-bottom: 40px;
  }

  .name-input {
    margin-top: 20px;
    width: 100px;
  }

  #name-output {
    font-size: 1.3em;
    margin-top: 30px;
    margin-left: 20px;
    padding-left: 0;
  }

  .icon {
    position: relative;
    top: -45px;
  }

  .search-bar {
    margin-top: 50px;
    font-size: 0.6em;
  }

  .nav-filter {
    flex-flow: column wrap;
    width: 20px;
    height: 32px;
    margin-left: 5px;
  }
  .btn-filter {
    margin-left: 10px;
    padding: 0;
  }

  .product-text-div .text {
    margin-left: 20px;
    margin-top: 50px;
    font-weight: lighter;
  }

  .product-container {
    display: flex;
    width: 280px;
    flex-flow: row nowrap;
    margin-left:50px;
  }

  .pro {
    margin-left: 0;
  }

  .product-text-div {
    display: flex;
    padding: 0;
  }

  .product-text-div .text-filter {
    margin-left: 20px;
    padding: 4px;
  }


  .text-filter {
    font-weight: lighter;
  }

  .text-filter:hover:first-child {
    opacity: 1;
  }
  .text-filter:hover:nth-child(2) {
    opacity: 1;
  }
  .text-filter:hover:nth-child(3) {
    opacity: 1;
  }

  .pro-des{
    margin-top: 20px;
    margin-left: 20px;
  }

  .ingredients{
    display: flex;
    flex-flow: row wrap;
    text-align: center;
  }

  .ingredients p{
    margin-top: 15px;
    padding: 5px;
  }

  .heart{
    visibility: hidden;
  }

  .pro-des .btn{ 
    float: none;
  }
}

@media screen and (min-width: 410px) {

 *{
  font-weight: bold;
 }

  .text{
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .text h2{
    margin-top: 50px;
    font-size: 1.4em;
  }

  .text p{
    font-weight: bold;
  }

  #firstname{
    margin-top: 50px;
  }

  #name-output {
    font-size: 1.3em;
    margin-top: 30px;
    margin-left: 20px;
    padding-left: 0;
  }

  .icon {
    position: relative;
    top: -45px;
  }

  .search-bar {
    margin-top: 50px;
    margin-left: 0;
    font-size: 0.6em;
  }

  .nav-filter {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-evenly;
    padding: 0;
    width: 50px;
    height: 32px;
    margin-left: 25px;
  }
  .btn-filter {
    margin-left: 10px;
    padding: 0;
  }

  .product-text-div .text {
    margin-left: 20px;
    margin-top: 50px;
    font-weight: lighter;
  }

  .product-container {
    display: flex;
    width: 280px;
    flex-flow: row nowrap;
    margin-left:50px;
  }

  .pro {
    margin-left: 0;
  }

  .product-text-div {
    display: flex;
    padding: 0;
  }

  .product-text-div .text-filter {
    margin-left: 20px;
    padding: 4px;
  }


  .text-filter {
    font-weight: lighter;
  }

  .text-filter:hover:first-child {
    opacity: 1;
  }
  .text-filter:hover:nth-child(2) {
    opacity: 1;
  }
  .text-filter:hover:nth-child(3) {
    opacity: 1;
  }
}

@media screen and (min-width: 540px) {
  .nav-bar {
    padding-top: 78px;
  }
  .text-filter {
    display: inline;
    padding: 0;
    margin-left: 80px;
  }

  .search-bar {
    margin-top: 50px;
    margin-right: 90px;
    font-size: 0.9em;
  }

  .nav-filter {
    display: flex;
    justify-content: center;
    margin-left: 80px;
  }
}

@media screen and (min-width: 768px){

  .search-bar {
    margin-top: 50px;
    margin-right: 190px;
    font-size: 0.9em;
  }

  .nav-filter {
    display: flex;
    justify-content: center;
    margin-left: 190px;
  }
}

@media screen and (min-width: 820px){
 
  .icon {
    position: relative;
    top: -75px;
  }

  .search-bar {
    margin-top: 50px;
    margin-right: 205px;
    font-size: 0.9em;
  }

  .nav-filter {
    display: flex;
    justify-content: center;
    margin-left: 230px;
  }

}

@media screen and (min-width: 912px){
  .search-bar {
    margin-top: 50px;
    margin-right: 280px;
    font-size: 0.9em;
  }

  .nav-filter {
    display: flex;
    justify-content: center;
    margin-left: 250px;
  }

}@media screen and (min-width: 1024px){
  .search-bar {
    margin-top: 50px;
    margin-right: 330px;
    font-size: 0.9em;
  }

  .nav-filter {
    display: flex;
    justify-content: center;
    margin-left: 330px;
  }
}


@media screen and (width: 1280px){
  .search-bar {
    margin-top: 50px;
    margin-right: 450px;
    font-size: 0.9em;
  }

  .nav-filter {
    display: flex;
    justify-content: center;
    margin-left: 450px;
  }
}

@media screen and (min-width: 1300px){
  .search-bar {
    margin-top: 50px;
    margin-right: 600px;
    font-size: 0.9em;
  }

  .nav-filter {
    display: flex;
    justify-content: center;
    margin-left: 580px;
  }

  .pro-des .btn{
    margin-left: 100px;
    margin-top: 50px;
  }
}
